*{
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
}

header nav ul{
    display: flex;
    /* justify-content: space-around; */
}

header nav ul li{
    display: inline-block;
    padding: 10px 20px;
    

}
a{
    text-decoration: none;
    color: white;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: aquamarine;
    height: 500px;

}
.box1{
    background-color: red;
    height: 250px;
    width: 250px;
}
.box2{
    background-color: blue;
    height: 250px;
    width: 250px;
}